body {
    background-image: URL("dark_wood.png");
    background-attachment: fixed;
}

p {
    font-weight: bold;
    font-family: "Arial";
    color: #FFFFFF;
}

h3 { 
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

li {

}

a {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#Header { 
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    border: solid black 8px;
    background-color: #8E41D5;
    border-style: groove; 
}

#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;
    background-color:hsl(0, 40%, 50%);
    text-shadow: 4px 4px white;
}

#LeftNav{ 
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    border: solid black 8px;
    background-color: #8E41D5; 
}

#LeftNav img{ 
    
}

#LeftNav ul{ 
    
}

#LeftNav h3{ 

}


#Content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    border: solid black 8px;
    background-color: #8E41D5; 
}

#Footer {
    text-align: center;
    border: solid black 8px;
    background-color: #8E41D5; 
    opacity: 0.65;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}